{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>
<body>
    <div class="navbar">
        <h1>BASEBALL<img src="{% static 'images/ball.png' %}" alt="Vector Image">MEMORY</h1>
    </div>
    <div id="instruction-box">
        <h2>오늘의 직관 일지를 남겨보세요!</h2>
    </div>
    <div id="calendar-container">
        <div id="calendar"></div>
    </div>

    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                dayClick: function(date, jsEvent, view) {
                    $.ajax({
                        url: '/baseball/check_date/',
                        data: {
                            'date': date.format()
                        },
                        success: function(data) {
                            if (data.exists) {
                                window.location.href = '/baseball/?date=' + date.format();
                            } else {
                                window.location.href = '/baseball/create/?date=' + date.format();
                            }
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
