<!-- templates/calendar.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>
<body>
    <h1>Calendar</h1>
    <div id="calendar"></div>

    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                dayClick: function(date, jsEvent, view) {
                    $.ajax({
                        url: '/baseball/check_date/',
                        data: {
                            'date': date.format()
                        },
                        success: function(data) {
                            if (data.exists) {
                                window.location.href = '/baseball/?date=' + date.format();
                            } else {
                                window.location.href = '/baseball/create/?date=' + date.format();
                            }
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
